.footer {
  /* border: 1px solid maroon; */
  display: flex;
  justify-content: space-evenly;
  /* background-color: #0597ee; */
  background-color: black;
  color: white;
}

.footer-heading {
  margin-bottom: 0px;
  text-decoration: underline;
  text-decoration-color: #0557ee;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0px;
  padding: 0px;

  /* border: 1px solid yellow; */
}

.footer-list-item {
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}
