.header {
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0557eef3;

  color: white;
  /* position: fixed; */
  /* border: 1px solid red; */
  width: 100%;
  height: fit-content;

  /* border-radius: 16px; */

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.header-socials-container {
  display: flex;
  gap: 20px;
  padding: 2px 12px;
}

.logo {
  padding: 2px 12px;
}
