.list {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: larger;
  gap: 30px;
  padding: 0px 12px;
}

.list-item {
  /* text-decoration: underline; */
  /* text-decoration-color: #0557ee; */
  /* color: #0557ee; */
  cursor: pointer;
}
